<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Fuente Inter de Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<script>
			tailwind.config = {
				theme: {
					fontFamily: {
						inter: ['Inter', 'sans-serif'],
					},
				},
			};
		</script>
	</head>
	<body class="font-inter max-w-5xl mx-auto">
		<header class="p-4">
			<nav class="{% block hidden %}{% endblock %}">
				<ul class="flex justify-end gap-2">
					<li>
						<a class="hover:text-sky-500 p-1" href="/dashboard">Dashboard</a>
					</li>
					<li>
						<a class="text-white rounded hover:bg-red-400 transition-all py-1 px-2 bg-red-500" href="/logout">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="p-4">{% block content %} {% endblock %}</main>
	</body>
</html>
