{% extends 'base.html' %} {% block title %}Home page{% endblock %} {% block
hidden %}{% endblock %} {% block content %}
<section class="flex justify-between flex-col gap-16 md:gap-0 md:flex-row">
	<div>
		<h1 class="text-xl font-bold">
			Welcome <span class="italic">{{user.first_name}}</span>!
		</h1>
		<p>These are the recipes</p>
		<table class="border border-gray-200 rounded mt-8">
			<thead>
				<tr class="bg-gray-200">
					<th>Name</th>
					<th>Under 30 minutes?</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for recipe in recipes %}
				<tr>
					<th class="p-1">{{recipe.name}}</th>
					<th class="p-1">{{(recipe.under_30) and ('Yes') or ('No')}}</th>
					<th class="p-1">
						<ul class="flex gap-1 text-sky-500">
							<li class="hover:text-sky-300 transition-all"><a href="/recipe/{{recipe.id}}">View</a></li>
							{% if recipe.user_id == user_in_session %}
							<li class="hover:text-sky-300 transition-all">
								<a href="/edit/{{recipe.id}}">Edit</a>
							</li>
							<li class="hover:text-sky-300 transition-all">
								<a href="/destroy/{{recipe.id}}">Delete</a>
							</li>
							{% endif %}
						</ul>
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="space-y-2">
		<p class="text-xl font-semibold italic">Want to make your own recipe?</p>
		<span class="flex justify-end">
			<a
				href="/recipes/new"
				class="px-2 py-1 animate-pulse bg-sky-500 hover:ring-2 hover:ring-sky-700 hover:animate-none text-white rounded transition-all"
				>Create recipe</a
			>
		</span>
	</div>
</section>
{% endblock %}
