{% extends 'base.html' %} {% block title %}Home page{% endblock %} {% block
hidden %}{% endblock %} {% block content %}
<section>
	<h1 class="text-center text-xl font-bold mb-6">Edit your recipe!</h1>
	{% with messages = get_flashed_messages(category_filter=['recipe']) %} {% if
	messages %}
	<div class="p-2 bg-red-100 border border-red-200 rounded mb-6">
		{% for message in messages %}
		<p class="text-red-500">{{message}}</p>
		{% endfor%}
	</div>
	{% endif %} {% endwith %}
	<form class="grid grid-cols-2 gap-2" action="/recipes/update" method="POST">
		<div class="flex flex-col gap-2">
			<label for="name">Name:</label>
			<input
				class="border border-gray-200 focus:ring-1 focus:outline-none focus:ring-sky-500 rounded focus:border-sky-500 py-1 px-2"
				type="text"
				name="name"
				id="name"
				value="{{recipe.name}}"
			/>

			<label for="description">Description:</label>
			<textarea
				class="border border-gray-200 focus:ring-1 focus:outline-none focus:ring-sky-500 rounded focus:border-sky-500 py-1 px-2"
				name="description"
				id="description"
				cols="30"
				rows="5"
			>
{{recipe.description}}</textarea
			>

			<label for="instructions">Instructions:</label>
			<textarea
				class="border border-gray-200 focus:ring-1 focus:outline-none focus:ring-sky-500 rounded focus:border-sky-500 py-1 px-2"
				name="instructions"
				id="instructions"
				cols="30"
				rows="5"
			>
{{recipe.instructions}}</textarea
			>
		</div>

		<div class="flex flex-col gap-2">
			<label for="date_made">Date Made On:</label>
			<input
				class="border border-gray-200 focus:ring-1 focus:outline-none focus:ring-sky-500 rounded focus:border-sky-500 py-1 px-2"
				class="w-fit"
				type="date"
				name="date_made"
				id="date_made"
				value="{{recipe.date_made.strftime('%Y-%m-%d')}}"
			/>

			<div>
				<p>Under 30 Minutes?</p>
				<input  {% if recipe.under_30 %} checked {% endif%}
					type="radio"
					name="under_30"
					id="yes"
					value="1"
				/>
				<label for="yes">Yes</label>
				<input {% if recipe.under_30 == 0 %} checked {% endif%} type="radio"
				name="under_30" id="no" value="0" />
				<label for="no">No</label>
			</div>
		</div>
		<input hidden type="text" name="id" id="id" value="{{recipe.id}}" />
		<input
			class="bg-sky-500 text-white rounded py-1 px-2 col-span-2 my-2 hover:bg-sky-300 transition-all hover:cursor-pointer"
			type="submit"
			value="Update your recipe"
		/>
	</form>
</section>
{% endblock %}
