{% extends 'base.html' %} {% block title %}Home page{% endblock %} {% block
hidden %}hidden{% endblock %} {% block content %}
<section
	class="pt-[6vh] h-screen md:grid grid-cols-2 space-y-16 sm:space-y-0 gap-4 px-4 lg:px-0"
>
	<form class="flex flex-col gap-2 mb-10" action="/users/register" method="POST">
		<h1 class="font-bold text-xl text-center">Register</h1>
		{% with messages = get_flashed_messages(category_filter=['register']) %}
			{% if messages %}
				<div class="p-2 bg-red-100 border border-red-200 rounded">
				{% for message in messages %}
					<p class="text-red-500">{{message}}</p>
				{% endfor%}
				</div>
			{% endif %}
		{% endwith %}
		<label for="first_name">First name:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="first_name"
			id="first_name"
		/>
		<label for="last_name">Last name:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="last_name"
			id="last_name"
		/>
		<label for="register_email">Email:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="register_email"
			id="register_email"
		/>
		<label for="register_password">Password:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="register_password"
			id="register_password"
		/>
		<label for="confirm_password">Confirm password:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="confirm_password"
			id="confirm_password"
		/>
		<input
			class="text-white border bg-sky-400 hover:bg-sky-300 border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded py-1 hover:cursor-pointer"
			type="submit"
			value="Register"
		/>
	</form>
	<form class="flex flex-col gap-2" action="/users/login" method="POST">
		<h1 class="font-bold text-xl text-center">Login</h1>
		{% with messages = get_flashed_messages(category_filter=['login']) %}
		{% if messages %}
			<div class="p-2 bg-red-100 border border-red-200 rounded">
			{% for message in messages %}
				<p class="text-red-500">{{message}}</p>
			{% endfor%}
			</div>
		{% endif %}
	{% endwith %}
		<label for="login_email">Email:</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="login_email"
			id="login_email"
		/>
		<label for="login_password">Password</label>
		<input
			class="border border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded px-2 py-1"
			type="text"
			name="login_password"
			id="login_password"
		/>
		<input
			class="text-white border bg-sky-400 hover:bg-sky-300 border-gray-200 focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 transition-all rounded py-1 hover:cursor-pointer"
			type="submit"
			value="Login"
		/>
	</form>
</section>
{% endblock %}
